* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Mulish", sans-serif;
}

body {
  background: #121214;
  padding: 72px 104px;
  display: grid;
  justify-content: center;
  font-family: "Mulish", sans-serif;
}

header h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 72px;
  color: #02799D;
}

header p {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #E1E1E6;
}

main {
  margin-top: 62px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 48px 60px;
}

.cards {
  background: #202024;
  border: 2px solid #323238;
  border-radius: 8px;
  overflow: hidden;
}

.cards h2 {
  font-size: 35px;
  font-weight: 900;
  color: #E1E1E6;
  padding: 24px 32px 0;
}

.cards p {
  font-size: 20px;
  color: #C4C4CC;
  font-weight: 600;
  padding: 24px 32px 32px;
}